.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .container {
    width: 100%;
    margin-top: 150px;
    background-color: #dce9ff;
    padding-top: 10px;


.logo {

  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;

  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  background: #1971d9;
  background: linear-gradient(to right, #1971d9 0%, #043a7a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 35px;
margin:0;
}

    .row {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .container_mobile {
        display: flex;
        flex-direction: row;
      }

      .content {
        padding: 10px 100px;

        @media screen and (max-width: 1024px) {
          padding: 10px;
        }

        .logoFooter {
          display: flex;
          margin-top: 30px;
          .mainImg {
            display: flex;
            flex-direction: column;
            align-items: center;

            .coin {
              width: 54.28px;
              height: 53.8px;
              -webkit-animation: spin 4s linear infinite;
              -moz-animation: spin 4s linear infinite;
              animation: spin 4s linear infinite;
            }
            @-moz-keyframes spin {
              100% {
                -moz-transform: rotate(360deg);
              }
            }
            @-webkit-keyframes spin {
              100% {
                -webkit-transform: rotate(360deg);
              }
            }
            @keyframes spin {
              100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
              }
            }

            .hand2 {
              margin-top: -30px;
            }
          }

          .nameLogoFooter {
            display: flex;
            flex-direction: column;
            img {
              margin: 5px;
            }
          }
        }
        .contact {
          h1 {
            // color: #1971d9;
            font-size: 26px;
            font-family: "Readex Pro", sans-serif;
            font-weight: 500;
            background: linear-gradient(180deg, #1971d9 0%, #043a7a 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          p {
            font-size: 16px;
            margin: 10px;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
          }
        }
        .socialFooter {
          h1 {
            font-size: 26px;
            font-family: "Readex Pro", sans-serif;
            font-weight: 500;
            background: linear-gradient(180deg, #1971d9 0%, #043a7a 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }
          img {
            margin: 2px;
          }
        }
      }
    }
  }

  .productedBy {
    background: #0e478a;
    min-height: 72px;
    width: 100%;
    color: #fff;

    .kmv {
      width: 90%;
      display: flex;
      flex-direction: row;
      //padding: 20px;
      align-items: center;
      padding-top: 8px;
      justify-content: space-around;

      p {
        color: var(--preto50);
        font-size: 16px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      span {
        margin: 5px;
        background: #ffff;
        // background: linear-gradient(180deg, #91dcf0 50%, #5199ee 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #ffffff;
      }

      .container_developerBy {
        display: flex;

        p {
          background: #ffff;
          // background: linear-gradient(180deg, #91dcf0 50%, #5199ee 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;

          color: #ffffff;
        }

        img {
          margin-left: 32px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width:1280px) {
  .footer {
    .container {
      .row {
        flex-wrap: nowrap;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .footer {
    .container {
      .row {
        justify-content: space-around;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .footer {
    .container {


.logo {

  display: block;
  float: left;
  font-size: 2em;
  text-decoration: none;

  font-family: "Readex Pro", sans-serif;
  font-weight: 500;
  background: #1971d9;
  background: linear-gradient(to right, #1971d9 0%, #043a7a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   font-size: 20px;
margin:0;
}

      .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .container_mobile {
          display: flex;
          flex-direction: column-reverse !important;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        .content {
          .logoFooter {
            .mainImg {
              .coin {
                width: 25px !important;
              }
              .hand2 {
                margin-top: -25px !important;
                width: 50px !important;
              }
            }

            .nameLogoFooter {
              justify-content: center;
              img {
                width: 80px;
              }
            }
          }

          .socialFooter {
            h1 {
              color: #1971d9;
              font-size: 16px !important;
              background: none;
              -webkit-text-fill-color: unset;
            }
          }

          .contact {
            h1 {
              color: #1971d9;
              font-size: 16px !important;
              background: none;
              -webkit-text-fill-color: unset;
            }

            p {
              color: #1971d9;
            }
          }
        }
      }
    }

    .productedBy {
      .kmv {
        width: 100% !important;
        padding-bottom: 8px;
        background: #0e478a;
        display: flex;
        flex-direction: column-reverse;
        // align-items: center;
        // justify-content: center;

        span {
          font-size: 12px !important;
          font-weight: 300;
          padding: 0 10px;
          text-align: center;
          color: #fff;
          background: none;
          -webkit-text-fill-color: unset;
        }
      }

      .container_developerBy {
        p {
          font-size: 12px !important;
          font-weight: 300 !important;
          color: #fff;
          background: none;
          -webkit-text-fill-color: unset !important;
        }
        a {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}
